<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>NHS Matchwell – {% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans|Amaranth' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{STATIC_URL}}stylesheets/base.css">
  <link rel="stylesheet" href="{{STATIC_URL}}stylesheets/skeleton.css">
  <link rel="stylesheet" href="{{STATIC_URL}}stylesheets/layout.css">
  <link rel="stylesheet" href="{{STATIC_URL}}stylesheets/custom.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>





  <!-- Primary Page Layout
  ================================================== -->

  <!-- Delete everything in this .container and get started on your own site! -->

  <div class="container">

    <header>

      <div class="six columns">
        <h3 id="logo"><a href="/">NHS Matchwell</a></h3>
      </div>

      <div class="ten columns">
        <nav>
          <ul>
            <li><a href="{% url 'nhshd.views.your_profile' %}">My Profile</a></li>
            <li><a href="/profile/edit">Edit My Profile</a></li>
            <li><a href="{% url 'nhshd.views.matches' %}">Matches</a></li>
            <li><a href="{% url 'nhshd.views.inbox' %}">Inbox</a></li>
            <li><a href="/search">Search</a></li>
          </ul>
        </nav>
      </div>

    </header>

    <div class="sixteen columns">

      {% block body %}{% endblock %}

    </div>

    <div class="clear"></div>

    <footer class="sixteen columns">

    <p>A prototype for NHS Hack Day by <a href="#">@didlix</a>, <a href="#">@alexstapleton</a>, <a href="#">@drlaurajane</a>, <a href="#">@colonelrosa</a>, <a href="#">@nimasmi</a>, <a href="#">@d0c0nnor</a> and <a href="#">@doismellburning</a></p>
    </footer>

  </div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>
