{% extends "layouts/base.html" %}

{%block body %}

<h1>It's not dating... Honest</h1>

<p>Welcome to _insertnamehere_. Being diagnosed with a chronic health condition can be isolating. _insertnamehere_ helps you to find people who share not only your diagnosis, but also your interests. </p>

<p>It allows you to:</p>
<ul class="square">
  <li>share your experiences</li>
  <li>swap tips on how to live well with a chronic condition</li>
  <li>meet people with common interests</li>
</ul>

<p>Join for free and create your profile, letting people know who you are, what you like and who you would like to meet. You will be able to search for people with specific conditions, symptoms, or interests. Then you can start contacting them within _insertnamehere_.</p>

<p><a href="/user/register">Create your profile today!</a></p>

{% endblock %}
