{% extends "layouts/base.html" %}

{%block body %}



<div class="sixteen columns">
<h1 id="home">Meet people who share not only your diagnosis, but also your interests.</h1>
</div>

<div class="six columns">

<h3>Find likeminded people</h3>

</div>

<div class="eight columns">

  <p>Being diagnosed with a chronic health condition can be isolating. NHS Matchwell helps you to find people who share not only your diagnosis, but also your interests. </p>

</div>
<hr>

<div class="six columns">

  <h3>It allows you to</h3>

</div>

<div class="eight columns">

  <ul class="square">
    <li>share your experiences</li>
    <li>swap tips on how to live well with a chronic condition</li>
    <li>meet people with common interests</li>
  </ul>

</div>

<hr>

<div class="six columns">

  <h3>Join for free/h3>

</div>

<div class="eight columns">

  <p>Create your profile, letting people know who you are, what you like and who you would like to meet. You will be able to search for people with specific conditions, symptoms, or interests. Then you can start contacting them within NHS Matchwell.</p>

  <p><a href="/user/register">Create your profile today!</a></p>

</div>

<hr>

<div class="six columns">

  <h3>Login</h3>

  <form action="/user/login">

    <!-- Label and text input -->
    <label for="regularInput">Username / e-mail</label>
    <input type="text" id="regularInput" />

  <label for="password">Password</label>
    <input type="text" id="password" />

    <button type="submit">Login</button>

  </form>

</div>

{% endblock %}
