{% extends "layouts/base.html" %}

{% load markup %}
{% load humanize %}

{% block body %}
<h4>Inbox</h4>
<ol>
{% for message in inbox %}
<li class="message {% if message.read_flag %}read{% endif %}">
<img src="{% if message.sender.photo %}{{ message.sender.photo.image_url }}{% else %}http://edgecats.net{% endif %}" width="50" height="50">
    <div class="info">
        <span class="sender"><a href="{% url 'conversation' sender_name=message.sender.username %}">{{ message.sender }}</a></span><br>
        <span class="body sample">{{ message.body|slice:"200" }}</span>
        <span class="when" title="{{ message.created_at }}">{{ message.created_at|naturaltime }}</span>
    </div>
</li>
{% endfor %}
</ol>
{% endblock %}
