{% extends "layouts/base.html" %}

{% load markup %}

{%block body %}

<div class="sixteen columns promo">

    <img
    {% if patient.photo %}
    src="{{ patient.photo.image.url }}"
    {% else %}
    src="http://edgecats.net/"
    {% endif %}
    class="profileimg" width="200" height="200">

    <h1 id="profile">{{ patient.user.username }}</h1>

    <p>{{ patient.gender }}, {{ patient.age }}<br>{{ patient.locations.all.0 }}</p>

    <a href="#" class="button">Message them</a>
    <a href="#" class="button">Save to favourites</a>
    <a href="#" class="button">Report</a>
</div>

<div class="sixteen columns">
  {% if patient.personal_words %}
  <div class="columns six">
  <h3>My self-summary</h3>
  </div>
  <div class="columns eight">
  {{ patient.personal_words|markdown  }}
  </div>
  <hr>
  {% endif %}

  {% if patient.life_plan %}
  <div class="columns six">
  <h3>What I'm doing with my life</h3>
  </div>

  <div class="columns eight">
  {{ patient.life_plan|markdown }}
  </div>
  <hr>
  {% endif %}

  {% if patient.skills %}
  <div class="columns six">
  <h3>I'm really good at</h3>
  </div>

  <div class="columns eight">
  {{patient.skills|markdown}}
  </div>
  <hr>
  {% endif %}

  {% if patient.preocupations %}
  <div class="columns six">
  <h3>I spend a lot of time thinking about</h3>
  </div>
  
  <div class="columns eight">
  {{patient.preocupations|markdown}}
  </div>
  <hr>
  {% endif %}

  {% if patient.favourite_words %}
  <div class="columns six">
  <h3>Favorite books, movies, shows, music, and food</h3>
  </div>
  
  <div class="columns eight">
  {{ patient.favourite_words|markdown }}
  </div>
  <hr>
  {% endif %}

  {% if patient.what_im_looking_for %}
  <div class="columns six">
  <h3>What I'm looking for</h3>
  </div>

  <div class="columns eight">
  {{patient.what_im_looking_for|markdown}}
  </div>
  <hr>
  {% endif %}

</div>

{% endblock %}
