{% extends "layouts/base.html" %}
{% load markup %}

{% block body %}
<p>
<div class="four columns">
    <img src="{% if recipient.patient.photo %}{{ recipient.patient.photo.image_url }}{% else %}http://edgecats.net/{% endif %}" width="100%">
</div>
<div class="eight columns">
    Send {{ recipient }} a message
    <form method="post">{% csrf_token %}
        {% for field in form.visible_fields %}
        {{ field }}
        {% endfor %} 
        <input type="submit" value="Send" />
    </form>
</div>
{% endblock %}
